/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.section1{
    display:flex;
    align-items: center;
    padding: 26px 57px;
    box-sizing: border-box;
}

.section1-image img {
    max-width: 247px;
    height: auto;
}

.section1-menu{
    display:flex;
    list-style: none;
    margin-left: auto;
    gap:20px;
}

.section1-menu li a{
   font-size: 16px;
   text-decoration:none;
   color:#000;
   font-weight:200;

}
.underline-home {
    position: relative;
}

/* Gạch chân luôn hiển thị */
.underline-home::after {
    content: ""; /* Tạo nội dung ảo */
    position: absolute;
    left: 0;
    bottom: -2px; /* Khoảng cách giữa chữ và gạch chân */
    width: 100%; /* Độ dài gạch chân bằng độ dài chữ */
    height: 1px; /* Độ dày của gạch chân */
    background-color: black; /* Màu của gạch chân */
}

.fa-linkedin{
    font-size: 25px;
}

.language-container {
    display: flex;
    align-items: center;
    gap: 5px; /* Khoảng cách giữa icon và chữ */
}
.section1-menu li {
    position: relative;
}

.dropdown-menu {
    display:none; /* Ẩn menu con */
    position: absolute;
    width: 200px;
    top: 100%; /* Vị trí ngay dưới mục "Home" */
    left: 0;
    list-style: none;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.contact-button-top button{ 
    border: none;
    color: #fff;
    background-color: #000;
    padding: 19px 32px;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button-top button:hover {
    background-color: #333;
}
.bar {
    font-family: 'Font Awesome 6 Free'; /* Đảm bảo đã có Font Awesome */
    font-weight: 900; /* Cài đặt độ dày của icon */
    -webkit-font-smoothing: antialiased;
    display: none;
    margin-left: auto; /* Đẩy sang phải */
}

.bar::before {
    content: '\f0c9'; /* Unicode của icon "fa-ghost" */
}


/* Hero Section */
.hero-section {
    background-image: url('./images/pro.jpg'); /* Đường dẫn ảnh */
    background-position: center ; /* Căn giữa ảnh */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    background-size: cover; /* Đặt kích thước ảnh nền */
    display: flex;
    height:95vh;
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
    justify-content: flex-start; /* Căn nội dung theo chiều ngang */
    color: #000;
    padding-left: 50px;
}


.content{
    width: 60%;
    padding: 20px;
    padding-top: 90px;
}
.content h1 {
    font-size: 3.5vw;
    font-weight:450;
    line-height:63.4431px;
    margin-bottom: 40px;
    line-height:80px;
}

.content p {
    font-family:sans-serif;
    font-size: 1.8vw;
    font-weight:300;
    margin-bottom: 50px;
    color: #333;
}

.contact-btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 1.2vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #333;
}

/*Meet Dasion */

.container {
    display: flex;
    justify-content: space-between; /* Khoảng cách đều giữa các phần tử */
    align-items: center; /* Căn giữa theo trục dọc */
    flex-wrap: wrap;
    margin: 20px auto;
    gap:8vw;
    padding:3vw;
}

.image {
    flex: 1; /* Tăng tỷ lệ chiếm không gian */
    max-width: 800px; /* Tăng kích thước tối đa của ảnh */
}

.image img {
    width: 100%;
    border-radius: 8px;
}

.content-meet {
    flex: 1; /* Giảm tỷ lệ của nội dung để ảnh lớn hơn */
    padding: 20px;
}

.content-meet h1 {
    font-size: 2.5em;
    margin: 0;
    font-weight:400;
}

.content-meet p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
    margin-top: 10px;
    font-weight:200;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Chuyển thành cột khi màn hình nhỏ */
    }

    .image {
        max-width: 100%;
    }

    .content-meet {
        max-width: 100%;
    }
}


/* Our Technology*/

.container-our{
    background-image: url('./images/iStock-1088487340.jpg'); /* Đường dẫn ảnh */
    background-position: center ; /* Căn giữa ảnh */
    background-size: cover; /* Đặt kích thước ảnh nền */
    height:60vh;
}
.our-content {
    display: flex; /* Kích hoạt Flexbox */
    flex-direction: row; /* Sắp xếp các div con trên cùng một hàng */
    justify-content: center; /* Canh giữa theo chiều ngang */
    padding-top:10vh;
    gap: 10vw; /* Khoảng cách giữa các div con */
  }
  
  .content-header {
    height: 100%; /* Chiều cao container */
    padding-top: 0; /* Đảm bảo không có khoảng trống ở trên */

  }
  
  .content-header h1 {
    color: #fff;
    font-size: 44px;
    font-weight: 300;
    margin: 0; /* Xoá khoảng cách mặc định */
  }
  
  
  .content-paragraph p {
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    max-width: 490px; /* Giới hạn chiều rộng đoạn văn */

  }
  

  @media (max-width: 814px) {
    .our-content {
        flex-direction: column;
        gap: 3vh; /* Khoảng cách giữa các div con */

    }  
    .content-header h1 {
     
        font-size: 30px;
        font-weight: 300;
       
    }
    .content-paragraph p {
        font-size: 12px;
        font-weight: 200;   
      }


  }
/* NSF*/
.nsf-content{
    display: flex; /* Kích hoạt Flexbox */
    flex-direction: row; /* Sắp xếp các div con trên cùng một hàng */
    justify-content: center; /* Canh giữa theo chiều ngang */
    
    padding-top:5vh;
    gap: 4vw; /* Khoảng cách giữa các div con */
}
.image-nsf{
    max-width: 300px; /* Tăng kích thước tối đa của ảnh */
}
.image-nsf img{
    width: 100%;
    border-radius: 8px;
}
.content-nsf h4 {
    color: #000;
    font-family: 'Acumin Pro', sans-serif;
    font-size: 26px;
    font-weight: 100;
    line-height: 1.3;
    max-width: 300px; /* Giới hạn chiều rộng đoạn văn */
}
.content-nsf{
    display: flex;
    align-items: center;
}

/* Let's work*/
.let-container{
    display: flex;
    padding-top:5vh ;
    padding-bottom:5vh ;
    padding-left:5vw ;
    padding-bottom:5vw ;
    padding-right:5vw ;
    flex-direction: row;
    align-items: center; /* Căn giữa các phần tử con theo chiều dọc */

}
.content-let{
    width: 600px;
}

.let-container button{
    margin-left: auto; 
    border: none;
    color: #fff;
    background-color: #000;
    padding: 25px 40px;
    font-size: 18px;
    margin-top:20px ;
    margin-bottom:8px ;
}

.let-container button:hover {
    background-color: #333;
}

.content-let h2{
    font-size: 50px;
    font-family: 'Acumin Pro', sans-serif;
    font-weight: 100;
}
.content-let p{
    font-size: 15px;
    font-weight: 200;  
}

/* Back Dasion*/

.back-container{
    display: flex;
    height: 30vh;
    background-color: #000;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 35px;
    justify-content: space-between;
    align-items: flex-start; 
}

.back-list{
    display: flex;
    list-style: none;
    gap:20px;
}

.back-container button{
    font-size: 14px;
    padding: 20px 30px;
}
.back-list li a{
    color:#fff;
    font-weight: 200;
}

.fa-linkedin {
    color: #0077b5; /* Màu xanh LinkedIn */
    font-size: 35px; /* Tùy chỉnh kích thước icon */
}



/* Điều chỉnh cho màn hình nhỏ hơn */

@media (max-width: 681px) {
    .section1-menu{
        display:none;
    }
    .bar {
       
        display: block; 
    }
    .contact-button-top{
        display:none;
    }

}


@media (max-width: 876px) {
    .section1-menu li a {
        font-size: 13px; /* Tăng kích thước chữ trên màn hình nhỏ */
    }
    .contact-button-top button{ 
        border: none;
        color: #fff;
        background-color: #000;
        padding: 15px 25px;
        font-size: 12px;
        margin-left: 6px;
    }
    .section1-image img {
        max-width: 170px;
        height: auto;
    }
}


@media (max-width: 876px) {
    .section1-menu li a {
        font-size: 13px; /* Tăng kích thước chữ trên màn hình nhỏ */
    }
    .contact-button-top button{ 
        border: none;
        color: #fff;
        background-color: #000;
        padding: 15px 25px;
        font-size: 12px;
        margin-left: 6px;
    }
    .section1-image img {
        max-width: 170px;
        height: auto;
    }
}


@media (max-width: 768px) {
    .content h1 {
        font-size: 6vw; /* Tăng kích thước chữ trên màn hình nhỏ */
    }
    .content p {
        font-size: 3vw;
    }
    .contact-btn {
        font-size: 3vw;
    }
}

/**********************************************************************************************/
/*Form-contact*/
.main-container{
    display: flex;
    flex-direction: row; /* Sắp xếp các div con trên cùng một hàng */
    justify-content: center; /* Canh giữa theo chiều ngang */
    padding: 3vw 7vw 7vw 7vw;

}
.name{
    flex: 1;
}
.form-container {
    flex:1.5;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .required {
    color: #555;
    font-size: 0.9em;
  }
  
  .name-fields {
    display: flex;
    gap: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }
  
  input[type="text"]:first-child,
  input[type="text"]:last-child {
    width: calc(50% - 5px);
  }
  
  textarea {
    resize: none;
  }
  
  .btn {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
  }
  
  .btn:hover {
    background-color: #333;
  }
  

